/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(74, 74, 74);
  font-size: 1.5em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#navbar {
  padding-right: 2rem;
  padding-top: 1rem;
  text-align: right;
}

#email {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#ikony {
  display: flex;
  justify-content: center;
}

#stopka {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 7em;
}

#stopka2 {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.container-fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 1% 5%;
}

@media (min-width: 768px) {
  #navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  #navbar.fixed-top {
    position: fixed;
    /* Dodaj klasę fixed-top */
  }
}

a:hover {
  font-size: 30px;
}

#ikony img:hover {
  height: 60px;
}
