/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#navbar {
  padding-right: 2rem;
  padding-top: 1rem;
  text-align: right;
}

#email {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#stopka {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 7em;
}

#stopka2 {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.container-fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 1% 5%;
}

@media (min-width: 768px) {
  #navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
  }

  #navbar.fixed-top {
    position: fixed;
  }
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: font-size 0.3s ease, transform 0.3s ease;
}

a:hover {
  font-size: 30px;
}

#ikony {
  display: flex;
  justify-content: center;
}

#ikony img {
  transition: transform 0.3s ease;
}

#ikony img:hover {
  transform: scale(1.2);
}

.share-menu a {
  display: inline-block;
  width: 9em;
  height: 3em;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border: 2px solid #333333;
  font-size: 0.8rem;
  border-radius: 260px;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
  font-family: "Lato", sans-serif;
  color: black !important;
  font-weight: 500 !important;
  margin-bottom: 0.3em;
  transition: transform 0.3s ease;
}

.share-menu a:hover {
  transform: scale(1.2); /
}

#scrollTopButton {
  border: 2px white solid;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  margin-left: 2em;
}

#copy-icon {
  cursor: pointer;
  transition: 0.3s ease;
}

#copy-icon:hover {
  transform: scale(1.2);
}


img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.12);
}

/*Share buttony*/

textarea {
  resize: none;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
white-space: nowrap;
}

.svg-inline--fa {
vertical-align: -0.200em;
}

.rounded-social-buttons {
text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position:relative;
  cursor: pointer;
  width: 4.125rem;
  height: 4.125rem;
  border: 0.125rem solid transparent;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 50%;
  
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}


.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
background: #000000;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
color: #3b5998;
background: #fefefe;
border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
background: #000000;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
color: #55acee;
background: #fefefe;
border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
background: #000000;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
color: #007bb5;
background: #fefefe;
border-color: #007bb5;
}


.rounded-social-buttons .social-button.instagram {
background: #000000;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
color: #ffffff;
background: #E1306C;
border-color: #ffffff;
}

.share-button-box {
  padding: 2rem;
}

/*Modal*/

.modal-header {
  margin-top: 50px;
}
.modal {
  align-content: center;
}

@media (min-width: 769px) and (max-width: 1199px) {

}